@model MvcPL.ViewModels.UserViewModel

@{
    ViewBag.Title = "Удаление пользователя";
}

@section content {
    <h2>Удаление пользователя</h2>
    <div>
        Вы уверены, что хотите удалить пользователя <b>@Html.DisplayFor(model => model.Login)</b>?
    </div>
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Удалить" class="btn btn-success" />
        </p>
    }
}

